In [1]:
import numpy as np

In [2]:
print(np.sqrt(15))

3.872983346207417

# Program to implement a simple calculator

In [6]:
print("Enter two numbers")
x = int(input())
y = int(input())
print("numbers entered are: {}, {}".format(x, y))
print("Enter option: 1)sum 2)difference 3)product 4)quotient 5)remainder 6)exit")
option = int(input())

if option == 1:
    print("sum is: {}".format(x+y))
elif option == 2:
    print("difference is: {}".format(x-y))
elif option == 3:
    print("product is: {}".format(x*y))
elif option == 4:
    print("quotient is: {}".format(x/y))
elif option == 5:
    print("remainder is: {}".format(x%y))
else:
    print("No calculations to be performed")

Enter two numbers
1
2
numbers entered are: 1, 2
Enter option: 1)sum 2)difference 3)product 4)quotient 5)remainder 6)exit
5
remainder is: 1

In [7]:
import math

In [8]:
a1 = np.array([[1, 2, 3], [4, 5, 6]])

In [9]:
print(a1.shape)

(2, 3)

In [10]:
import pandas as pd

In [12]:
dataset = pd.read_csv("data.csv")

In [13]:
dataset.head

<bound method NDFrame.head of      sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes>

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sky          4 non-null      object
 1   air temp     4 non-null      object
 2   humidity     4 non-null      object
 3   wind         4 non-null      object
 4   water        4 non-null      object
 5   forecast     4 non-null      object
 6   enjoy sport  4 non-null      object
dtypes: object(7)
memory usage: 352.0+ bytes

In [17]:
dataset

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [18]:
dataset["sky"]

0    sunny
1    sunny
2    rainy
3    sunny
Name: sky, dtype: object