In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('data.csv')

In [3]:
dataset

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [4]:
dataset.columns

Index(['sky', 'air temp', 'humidity', 'wind', 'water', 'forecast',
       'enjoy sport'],
      dtype='object')

In [5]:
features = ['sky', 'air temp', 'humidity', 'wind', 'water', 'forecast']
hypothesis = [0]*len(features)

In [6]:
# training on the dataset

for i in range(len(dataset)):
    if dataset.loc[i]['enjoy sport'] == 'yes':
        for j in range(len(features)):
            if hypothesis[j] == '?' or hypothesis[j] == dataset.loc[i][features[j]]:
                continue
            elif hypothesis[j] == 0:
                hypothesis[j] = dataset.loc[i][features[j]]
            elif hypothesis[j] != dataset.loc[i][features[j]]:
                hypothesis[j] = '?'

print(hypothesis)

['sunny', 'warm', '?', 'strong', '?', '?']

In [7]:
# creating test data

testdata = pd.DataFrame({
    'sky': 'sunny', 
    'air temp': 'warm', 
    'humidity': 'high', 
    'wind': 'strong', 
    'water': 'cool', 
    'forecast': 'change'
}, index=[0])

In [8]:
testdata

     sky air temp humidity    wind water forecast
0  sunny     warm     high  strong  cool   change

In [9]:
# creating the test function

def test(testdata):
    for i in range(len(testdata)):
        for j in range(len(features)):
            if hypothesis[j] == '?' or hypothesis[j] == testdata.loc[i][features[j]]:
                continue
            else:
                return 'no'
    return 'yes'

print(test(testdata))

yes